# fly.toml app configuration file generated for can-it-wfc-backend on 2025-11-06T17:34:23+07:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'can-it-wfc-backend'
primary_region = 'sin'
console_command = '/code/manage.py shell'

[build]

[deploy]
  release_command = '/bin/sh -c "/app/.venv/bin/python manage.py collectstatic --noinput && /app/.venv/bin/python manage.py migrate --noinput"'

[env]
  PORT = '8000'

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0

[[vm]]
  size = 'shared-cpu-1x'

[[statics]]
  guest_path = '/code/static'
  url_prefix = '/static/'
